a:link {
  color: #BBFAB2;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #FFAD05;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #054C9E;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #054C9E;
  background-color: transparent;
  text-decoration: underline;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}
.flex-child:first-child {
    margin-right: 20px;
}

.site-description {
    width: 250px;
    margin-bottom : 20px;
    background: transparent;
}

.content-box {
    // width: 450px;
    // height: 444px;

    background: #ECECEC;
    margin-bottom : 15px;

    position:relative;
}

.content-box:hover {
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.25);
}

.content-title {
    width: 100%;
    // height: 132px;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 0;
}

.content-box:hover .content-title {
    background: linear-gradient(180deg, rgba(128, 128, 128, 0) 0%, #00A6DC 100%);
}

.project-name {
    font-family: 'Lora';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height */

    color: #FFFFFF;
}

.project-description {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
}

.expandable-container{
    overflow: hidden;
    position: relative;
}

.expander{
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width: 100%;
    opacity: 0.5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/images/down_arrow.png);
}
.expander.expanded{
    background-image: url(/images/up_arrow.png);
}

h1 {
    font-family: Lora;
    font-size: 2.2rem;
}
h2 {
    font-family: Lora;
    font-size: 1.9rem;
}
h3 {
    font-family: Lora;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
h4 {
    font-family: Lora;
    font-size: 1.3rem;
}
body {
    font-family: Red Hat Display;
}


.row-2 {
    max-width: 800px;
    margin-bottom: 4px;
}

@media (max-width: 991px) {
  .row-2 {
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }
}

.col-left {
    padding-right: 5px;
    padding-left: 0;
    width: 50%;
    position: relative;
    float: left;
}
.col-right {
    padding-right: 0;
    padding-left: 5px;
    width: 50%;
    position: relative;
    float: left;
}

.img-div {
    height: 350px;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

