

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}
.flex-child:first-child {
    margin-right: 20px;
}

.site-description {
    margin-bottom : 20px;
    background: transparent;
}

.content-box {
    // width: 450px;
    // height: 444px;

    background: #ECECEC;
    margin-bottom : 20px;

    position:relative;
}

.content-box:hover {
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.25);
}

.content-title {
    width: 100%;
    // height: 132px;
    position: absolute;
    bottom: 0;
}

.content-box:hover .content-title {
    background: linear-gradient(180deg, rgba(128, 128, 128, 0) 0%, #808080 100%);
}

.project-name {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    /* identical to box height */

    color: #FFFFFF;
}

.project-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    color: #FFFFFF;
}

.expandable-container{
    overflow: hidden;
    position: relative;
}

.expander{
    position: absolute;
    right:0;
    bottom:0;
    height:30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/images/down_arrow.png);
}
.expander.expanded{
    background-image: url(/images/up_arrow.png);
}


