  <!--- the navigator bar --->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: Red Hat Display; background: #00A6DC !important">
    <div class="container">
      <a class="navbar-brand" rel="author" href="/" style="display: flex;align-items: bottom; color: white">Grace Zhang</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/aboutme.html" style="color: white;">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hobbies.html" style="color: white;">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showcases/3d_design2.html" style="color: white;">Advanced 3D</a>
          </li>
        </ul>
      </div>
    </div>
    <script>
      $(document).ready(function(){
          $('.navbar-toggler').click(function() {
               $('#navbarSupportedContent').toggle("slide");
          });
      });
    </script>
  </nav>

